/* reset되지 않은 세부적인 스타일 제거 */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
