@use "../abstracts/" as *;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

// reset 코드보다 나중에 적용되도록 레이어 지정 -> 지정한 스타일이 리셋되지 않도록 하기 위함
@layer Typography {
  *,
  *::before,
  *::after {
    font-family: "Pretendard", sans-serif;
  }

  html {
    font-size: 62.5%; // 1rem -> 10px로 사용하기 위함
  }
  body {
    font-size: 1.6rem;
    color: $font-black;
    line-height: 1.5;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #f9f9f9; /* 전체 배경색 */
  }
}
