// 모바일 브레이크포인트
$mobile-width: 425px;

.root__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: $mobile-width;
  margin: 0 auto;
}

.main__container {
  flex: 1;
}
