@use "../abstracts/" as *;

.chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
.chart__title {
  font-size: 1.8rem;
  margin: 0.8rem 1.6rem;
}

.chart-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 1.6rem;
}
.chart__item {
  display: flex;
  gap: 1.6rem;
  width: 100%;
  img {
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 0.6rem;
  }
  &-content {
    display: flex;
    gap: 1.2rem;
  }
}

.chart__rank-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chart__rank {
  font-size: 1.8rem;
  font-weight: 600;

  &-change {
    font-size: 1.2rem;
    color: $font-gray;
  }
}

.chart__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chart__detail-title {
  font-weight: 600;
  font-size: 1.8rem;
}

.chart__detail-artist {
  font-size: 1.4rem;
  color: $font-gray;
}

.a11y-hidden {
  @include a11y-hidden;
}
